<ion-header>
    <ion-navbar>
      <ion-title>
        Search
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-searchbar (change)="search($event)" value="this.navCtrl.parent.selectedLogin"></ion-searchbar> <!--<span *ngIf="this.navCtrl.parent.selectedLogin!=null">{{this.navCtrl.parent.selectedLogin}}</span>-->
    <ion-list>
      <ion-list-header>User Details</ion-list-header>
      <ion-item>
        <ion-icon name="ionic" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="this.navCtrl.parent.selectedUser!=null">
        <ion-avatar item-left>
          <img [src]="this.navCtrl.parent.selectedUser.avatar_url">
        </ion-avatar>
        <h2>Username: {{this.navCtrl.parent.selectedUser.login}}</h2>
        <h2>Name: {{this.navCtrl.parent.selectedUser.name}}</h2>
        <h2>Company: {{this.navCtrl.parent.selectedUser.company}}</h2>
        <h2>Location: {{this.navCtrl.parent.selectedUser.location}}</h2>
        <h2>Public Repos: {{this.navCtrl.parent.selectedUser.public_repos}}</h2>
        <h2>Blog/Site: <a [href]="this.navCtrl.parent.selectedUser.blog">{{this.navCtrl.parent.selectedUser.blog}}</a></h2>
        <p>Bio: {{this.navCtrl.parent.selectedUser.bio}}</p>
      </ion-item>
    </ion-list>
  </ion-content>